.signUpPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .signUpDialog {
    background: white;
    padding: 2em;
    border-radius: 0.5em;
    min-width: 20em;
    width: 50%;
    max-width: 30em;

    .signUpHeader {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .logo {
        width: 4em;
      }

      .signUpHeading {
        font-size: 2em;
        font-weight: bold;
        margin: 0.5em;
      }
    }

    .signUpForm {
      display: flex;
      flex-direction: column;

      .field {
        margin: 1em 0;
      }
    }

    .otherOptions {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }
}