.signInPage {
  .signInForm {
    display: flex;
    flex-direction: column;

    .field {
      margin: 0.5em 1em;
    }
  }

  .otherOptions {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}