@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html, body {
  height: 100%;
  margin: auto;
  font-family: system-ui, sans-serif;
}

body {
  background: linear-gradient(to bottom right, #6964F1, #DD4AAC) no-repeat fixed;
}
