$border: 1px solid black;

.board {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    margin: auto;
    border: $border;

    &:nth-child(2) {
      border-top: none;
      border-bottom: none;
    }

    .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10em;
      height: 1em;
      width: 1em;

      @keyframes blink {
        50% {
          opacity: 0.25;
        }
      }

      &.nextRemoval {
        animation: blink 1.5s ease-in-out infinite;
      }

      &:nth-child(2) {
        border-left: $border;
        border-right: $border;
      }
    }
  }
}