.board {
  .row {
    display: flex;
    border-collapse: collapse;

    .cell {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid black;
      font-size: 10em;
      height: 1em;
      width: 1em;
    }
  }
}